# ===== 操作系统文件 =====
.DS_Store
Thumbs.db
Desktop.ini

# ===== 编辑器个人配置 =====
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo
*~

# ===== 通用日志 =====
*.log

# ===== 临时文件 =====
*.tmp
*.temp